.markdown h2 {
  font-size: 1.5em;
  font-weight: bold;
}
.markdown h3 {
  font-size: 1.2em;
  margin-bottom: 1rem;
}

.markdown ul {
  list-style: unset;
  padding-left: 1rem;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin-top: 1rem;
}

.markdown p {
  margin-bottom: 1rem;
}
