# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
test/**/*.js

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.wrangler
.rollup.cache
tsconfig.tsbuildinfo

test/websocket/log
utils/upload/*.json
utils/upload/*.tsv
utils/dupes/*.json


# Sentry Config File
.env.sentry-build-plugin

# Secrets
.dev.vars
key.json

# TLS Certificates (Used By Wrangler Dev)
.certs

*.js.map

cypress/screenshots
