.markdown h2 {
  font-size: 1.5em;
  font-weight: bold;
}
.markdown h3 {
  font-size: 1.2em;
  margin-bottom: 1rem;
}

.markdown ul {
  list-style: unset;
  padding-left: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
}
