@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  background-color: theme("colors.zinc.800");
  color: theme("colors.zinc.100");
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

dialog:modal {
  max-width: 100dvw;
  max-height: 100dvh;
}

body:has(dialog[open]) {
  overflow: hidden;
}

summary::-webkit-details-marker {
  display: none;
}
